<body>
    
    <main>
        <div class="header">
            <h2 style="padding-left: 30px;">Add Traveeller Details</h2>
            <h2 style="padding-right: 15px; cursor: pointer;" (click)="dialogbox()">X</h2>
        </div>
        <div class="travellers">
            <div style="display: flex; justify-content: flex-start; align-items: center;  padding-left:20px;">
                <h2>Traveller {{currentTravellerCount}} </h2>
                <span> /{{NoOfTravellers}}</span>
            </div>
           
        
            <ng-container *ngIf="RoomGuest && RoomGuest.length > 0">
              <div class="container">
                <!-- Loop through RoomGuest array -->
                <div class="boxes">
                  <ng-container *ngFor="let item of RoomGuest; let i = index">
                    <!-- Check if NoOfAdults is defined and greater than 0 -->
                    <ng-container *ngIf="item?.NoOfAdults && item?.NoOfAdults > 0">
                      <!-- Loop to generate cards for adults -->
                      <ng-container *ngFor="let star of getArray(item?.NoOfAdults); let j = index">
                        <div class="card" (click)="selectCard(i, j)" [style.box-shadow]="isSelected(i, j) ? '0 0 10px 5px #007BFF' : 'none'">
                          <span style="width: 100%; background-color: black; color: white; display: flex; justify-content: center;">Room -{{ i + 1 }}</span>
                          <div  style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                            <i class="fa-solid fa-user adult-icon"></i>
                            <p>Traveller</p>
                          </div>
                        </div>
                      </ng-container>
                      <ng-container *ngFor="let star of getArray( item?.NoOfChild); let j = index">
                        <div class="card" (click)="selectCard(i, j)" [style.box-shadow]="isSelected(i, j) ? '0 0 10px 5px #007BFF' : 'none'">
                          <span style="width: 100%; background-color: black; color: white; display: flex; justify-content: center;">Room -{{ i + 1 }}</span>
                          <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                            <i class="fa-solid fa-baby child-icon"></i>
                            <p>Traveller</p>
                          </div>
                        </div>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </div>
                
              </div>
            </ng-container>
            
              
                  
                <!-- <div class="boxes">
                    <div class="card" >
                        <span style="width: 100%; background-color: black; color:white; display: flex; justify-content: center;">Room -</span>
                        <div>
                            <i class="fa-solid fa-user adult-icon"></i>
                            <p>Adult</p>
                        </div>
                    </div>
                    <div class="card">
                        <span style="width: 100%; background-color: black; color:white; display: flex; justify-content: center;">Room -1</span>
                        <div>
                            <i class="fa-solid fa-user adult-icon"></i>
                            <p>Adult</p>
                        </div>
                    </div>
                    <div class="card">
                        <span style="width: 100%; background-color: black; color:white; display: flex; justify-content: center;">Room -1</span>
                        <div>
                            <i class="fa-solid fa-baby child-icon"></i>
                            <p>Child</p>
                        </div>
                    </div>
                    <div class="card">
                        <span style="width: 100%; background-color: black; color:white; display: flex; justify-content: center;">Room -1</span>
                        <div>
                            <i class="fa-solid fa-user adult-icon"></i>
                            <p>Adult</p>
                        </div>
                    </div>
                   </div> -->
            
                   <form [formGroup]="travelerForm" (ngSubmit)="addTraveler()">
                    <div class="info">
                      <div class="head">
                        <h2>Mandatory Information</h2>
                      </div>
                      <hr>
                      <div class="traveller-info">
                        <div style="padding-top: 20px; padding-bottom: 20px;">
                          <span>Enter Mandatory Details</span>
                        </div>
                        <fieldset class="inputs" formGroupName="personalInfo">
                          <legend>Personal Info</legend>
                          <div>
                            <label><span>First Name</span></label>
                            <input type="text" formControlName="firstName" required />
                          </div>
                          <div>
                            <label><span>Last Name</span></label>
                            <input type="text" formControlName="lastName" required/>
                          </div>
                          <div>
                            <label><span>Date of Birth</span></label>
                            <input type="date" formControlName="dateOfBirth" required/>
                          </div>
                          <div>
                            <label><span>Gender</span></label>
                            <select formControlName="gender" required>
                              <option></option>
                              <option>Male</option>
                              <option>Female</option>
                            </select>
                          </div>
                          <div>
                            <label><span>Nationality</span></label>
                            <select formControlName="nationality" required>
                              <option></option>
                              <option>India</option>
                              <option>United States</option>
                            </select>
                          </div>
                          <div>
                            <label><span>PAN</span></label>
                            <input type="text" formControlName="pan" required/>
                          </div>
                          <div>
                            <label><span>Passport No.</span></label>
                            <input type="text" formControlName="passportNo" required />
                          </div>
                          <div>
                            <label><span>Passport Issue Date</span></label>
                            <input type="date" formControlName="passportIssueDate" required/>
                          </div>
                          <div>
                            <label><span>Passport Expiry Date</span></label>
                            <input type="date" formControlName="passportExpiryDate" required/>
                          </div>
                        </fieldset>

                        <fieldset class="inputs" formGroupName="ssr">
                            <legend>SSR</legend>
                            <div>
                                <label><span>Extra Baggage (kgs)</span></label>
                                <select formControlName="extraBaggage1">
                                    <option>Weight 0 (Rs. 0)</option>
                                    <option>Weight 5 (Rs. 2210)</option>
                                    <option>Weight 10 (Rs. 4950)</option>
                                    <option>Weight 15 (Rs. 7425)</option>
                                    <option>Weight 30 (Rs. 7425)</option>
                                </select>
                            </div>
                            <div>
                                <label><span>Meal</span></label>
                                <select formControlName="extraBaggage2">
                                    <option>Weight 0 (Rs. 0)</option>
                                    <option>Weight 5 (Rs. 2210)</option>
                                    <option>Weight 10 (Rs. 4950)</option>
                                    <option>Weight 15 (Rs. 7425)</option>
                                    <option>Weight 30 (Rs. 7425)</option>
                                </select>
                            </div>
                            <div>
                                <label><span>Company Name</span></label>
                                <input type="text" formControlName="companyName"/>
                            </div>
                            
                            
                            <div>
                                <label><span>GST Number</span></label>
                                <input type="text" formControlName="gstNumber"/>
                            </div>
                            <div>
                                <label><span>Company Email</span></label>
                                <input type="email" formControlName="companyEmail"/>
                            </div>
                        
                            
                        </fieldset>
                        <ng-container *ngIf="travelers.length + 1 !== NoOfTravellers">
                          <div class="btn" *ngIf="travelerForm.valid">
                            <button type="submit"><span>Add Traveler</span></button>
                          </div>
                        </ng-container>
                        <ng-container *ngIf="travelers.length + 1 === NoOfTravellers">
                          <div class="btn" *ngIf="travelerForm.valid">
                            <button type="submit"><span>Submit</span></button>
                          </div>
                        </ng-container>
                        
                      </div>
                    </div>
                  </form>
                  
        </div>
    </main>
</body>