<app-flight-seat-map *ngIf="seatMapDialog" style="width: 100vw; height: 100vh;" [ssr]="ssrData" [seatMapDaialog]="seatMapDialog" (closeDialog)="handleSeatMapClick()" (seatMapData)="handleSeatMapData($event)"></app-flight-seat-map>

<body>

  <div class="sub-container" (click)="dialogbox()"></div>
    <main>
        <div class="header">
            <h2 style="padding-left: 30px;">Add Traveeller Details</h2>
            <h2 style="padding-right: 15px; cursor: pointer;" (click)="dialogbox()">X</h2>
        </div>
        <div class="travellers">
            <div style="display: flex; justify-content: flex-start; align-items: center;  padding-left:20px;">
                <h2>Traveller {{currentIndex? currentIndex+1 :currentTravellerCount}} </h2>
                <span> /{{NoOfTravellers}}</span>
            </div>
           
        
            <ng-container *ngIf="RoomGuest && RoomGuest.length > 0">
              <div class="container">
                <!-- Loop through RoomGuest array -->
                <div class="boxes">
                  <ng-container *ngFor="let item of RoomGuest; let i = index">
                    <!-- Calculate the total count of adults from previous rooms -->
                    <ng-container *ngIf="i > 0">
                     
                    </ng-container>
            
                    <ng-container *ngIf="item?.NoOfAdults && item?.NoOfAdults > 0">
                      <!-- Loop to generate cards for adults -->
                      <ng-container *ngFor="let star of getArray(item?.NoOfAdults + item?.NoOfChild); let j = index">
                        <div class="card" (click)="i === 0 ? handleCardClick(j) : handleCardClick(calculateTotalAdultsCount(i) + j)" 
                            [ngClass]="{'selected': selectedCard === (i === 0 ? j : calculateTotalAdultsCount(i) + j)}">
                            <!-- Your card content goes here -->
                            <span style="width: 100%; background-color: black; color: white; display: flex; justify-content: center;">Room -{{ i + 1 }}</span>
                            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                <ng-container *ngIf="j < item?.NoOfAdults">
                                    <i (click)="adult()" class="fa-solid fa-user adult-icon"></i>
                                    <p>Traveller</p>
                                </ng-container>
                                <ng-container *ngIf="j >= item?.NoOfAdults">
                                    <i (click)="child()" class="fa-solid fa-baby child-icon"></i>
                                    <p>Traveller</p>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                    
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </ng-container>
            
            
            
            
              
                  
                
            
                   <form [formGroup]="travelerForm" >
                    <div class="info">
                      <div class="head">
                        <h2>Mandatory Information</h2>
                      </div>
                      <hr>
                     
                        
                          <div class="traveller-info">
                            <div style="padding-top: 20px; padding-bottom: 20px; width: 100%; display: flex; justify-content: flex-start; gap: 20px;">
                              <span>Enter Mandatory Details</span> 
                              <ng-container> <i class="fa-solid fa-pen-to-square"></i></ng-container>
                            </div>
                            
                            <fieldset class="inputs" formGroupName="personalInfo">
                              <legend>Personal Info</legend>
                              <div>
                                <label><span>Title</span></label>
                                <select  formControlName="Title" required [value]="travelers[currentIndex]?.personalInfo?.Title || ''">
                                  <option></option>
                                  <option>Mr</option>
                                  <option>Mrs</option>
                                  <option>Miss</option>
                                </select>
                              </div>
                              <div>
                                <label><span>First Name</span></label>
                                <input type="text" formControlName="FirstName" required [value]="travelers[currentIndex]?.personalInfo?.FirstName || ''" />
                              </div>
                              <div>
                                <label><span>Last Name</span></label>
                                <input type="text" formControlName="LastName" required [value]="travelers[currentIndex]?.personalInfo?.LastName || ''" />
                              </div>
                              <div>
                                <label><span>Date of Birth</span></label>
                                <div class="date-picker__header" style="display: flex; flex-direction: row;">
                                  <select class="date-picker__select" [formControl]="travelerForm.get('dates.dob.day')" [value]="travelData[currentIndex]?.dates?.dob?.day" style="width: 80px;" aria-placeholder="DD" (change)="onDateChange('dob')">
                                    <ng-container *ngFor="let day of daysInMonthArray">
                                      <option [value]="day">{{ day }}</option>
                                    </ng-container>
                                  </select>
                                  <select class="date-picker__select" [formControl]="travelerForm.get('dates.dob.month')" [value]="travelData[currentIndex]?.dates?.dob?.month" style="width: 80px;" aria-placeholder="MM" (change)="onDateChange('dob')">
                                    <ng-container *ngFor="let month of monthsArray; let i = index">
                                      <option [value]="i + 1">{{ month }}</option>
                                    </ng-container>
                                  </select>
                                  <select class="date-picker__select" [formControl]="travelerForm.get('dates.dob.year')" [value]="travelData[currentIndex]?.dates?.dob?.year" style="width: 80px;" aria-placeholder="YYYY" (change)="onDateChange('dob')">
                                    <ng-container *ngFor="let year of yearsArray">
                                      <option [value]="year">{{ year }}</option>
                                    </ng-container>
                                  </select>
                                </div>
                              </div>
                              
                              
                              <div>
                                <label><span>Gender</span></label>
                                <select formControlName="Gender" required [value]="travelers[currentIndex]?.personalInfo?.Gender || ''" >
                                  <option></option>
                                  <option>Male</option>
                                  <option>Female</option>
                                </select>
                              </div>
                              <div>
                                <label><span>Nationality</span></label>
                                <select formControlName="Nationality" required [value]="travelers[currentIndex]?.personalInfo?.Nationality || ''" >
                                  <option></option>
                                  <option>India</option>
                                  <option>United States</option>
                                </select>
                              </div>
                              <div>
                                <label><span>City</span></label>
                                <input type="text" formControlName="City" required [value]="travelers[currentIndex]?.personalInfo?.City || ''" />
                              </div>
                              <div>
                                <label><span>Country Name</span></label>
                                <input type="text" formControlName="CountryName" required [value]="travelers[currentIndex]?.personalInfo?.CountryName || ''" />
                              </div>
                              <div>
                                <label><span>Address Line 1</span></label>
                                <input type="text" formControlName="AddressLine1" required [value]="travelers[currentIndex]?.personalInfo?.AddressLine1 || ''" />
                              </div>
                              <div>
                                <label><span>Address Line 2</span></label>
                                <input type="text" formControlName="AddressLine2" required [value]="travelers[currentIndex]?.personalInfo?.AddressLine2 || ''" />
                              </div>
                              <div>
                                <label><span>PAN</span></label>
                                <input type="text" formControlName="PAN" required [value]="travelers[currentIndex]?.personalInfo?.PAN || ''" />
                            </div>
                              <div>
                                <label><span>Passport No.</span></label>
                                <input type="text" formControlName="PassportNo" required [value]="travelers[currentIndex]?.personalInfo?.PassportNo || ''"/>
                              </div>
                              <div>
                                <label><span>Passport Issue Date</span></label>
                                <div class="date-picker__header" style="display: flex; flex-direction: row;">
                                  <select class="date-picker__select" [formControl]="travelerForm.get('dates.passportIssue.day')" [value]="travelData[currentIndex]?.dates?.passportIssue?.day" style="width: 80px;" aria-placeholder="DD" (change)="onDateChange('passportIssue')">
                                    <ng-container *ngFor="let day of daysInMonthArray">
                                      <option [value]="day">{{ day }}</option>
                                    </ng-container>
                                  </select>
                                  <select class="date-picker__select" [formControl]="travelerForm.get('dates.passportIssue.month')" [value]="travelData[currentIndex]?.dates?.passportIssue?.month" style="width: 80px;" aria-placeholder="MM" (change)="onDateChange('passportIssue')">
                                    <ng-container *ngFor="let month of monthsArray; let i = index">
                                      <option [value]="i + 1">{{ month }}</option>
                                    </ng-container>
                                  </select>
                                  <select class="date-picker__select" [formControl]="travelerForm.get('dates.passportIssue.year')" [value]="travelData[currentIndex]?.dates?.passportIssue?.year" style="width: 80px;" aria-placeholder="YYYY" (change)="onDateChange('passportIssue')">
                                    <ng-container *ngFor="let year of yearsArray">
                                      <option [value]="year">{{ year }}</option>
                                    </ng-container>
                                  </select>
                                </div>
                              </div>
                              
                              <div>
                                <label><span>Passport Expiry Date</span></label>
                                <div class="date-picker__header" style="display: flex; flex-direction: row;">
                                  <select class="date-picker__select" [formControl]="travelerForm.get('dates.passportExpiry.day').value" [value]="travelData[currentIndex]?.dates?.passportExpiry?.day" style="width: 80px;" aria-placeholder="DD" (change)="onDateChange('passportExpiry')">
                                    <ng-container *ngFor="let day of daysInMonthArray">
                                      <option [value]="day">{{ day }}</option>
                                    </ng-container>
                                  </select>
                                  <select class="date-picker__select" [formControl]="travelerForm.get('dates.passportExpiry.month')" [value]="travelData[currentIndex]?.dates?.passportExpiry?.month" style="width: 80px;" aria-placeholder="MM" (change)="onDateChange('passportExpiry')">
                                    <ng-container *ngFor="let month of monthsArray; let i = index">
                                      <option [value]="i + 1">{{ month }}</option>
                                    </ng-container>
                                  </select>
                                  
                                  <select class="date-picker__select" [formControl]="travelerForm.get('dates.passportExpiry.year').value" [value]="travelData[currentIndex]?.dates?.passportExpiry?.year" style="width: 80px;" aria-placeholder="YYYY" (change)="onDateChange('passportExpiry')">
                                    <ng-container *ngFor="let year of yearsArray">
                                      <option [value]="year">{{ year }}</option>
                                    </ng-container>
                                  </select>
                                </div>
                              </div>
                              
                           
                                <div>
                                  <label><span>Contact No</span></label>
                                  <input type="text" formControlName="ContactNo" required [value]="travelers[currentIndex]?.personalInfo?.ContactNo|| ''" />
                                </div>
                                <div>
                                  <label><span>Email</span></label>
                                  <input type="email" formControlName="Email" required [value]="travelers[currentIndex]?.personalInfo?.Email || ''"/>
                                </div>
                            
                            </fieldset>

                            <fieldset class="inputs" formGroupName="guardianDetails" *ngIf="travelers[currentIndex]?.personalInfo?.PaxType===2 || travelers[currentIndex]?.personalInfo?.PaxType===3">
                              <legend>Guardian Details</legend>
                              <div>
                                <label><span>Title</span></label>
                                <select  formControlName="Title" required [value]="travelers[currentIndex]?.guardianDetails?.Title || ''">
                                  <option></option>
                                  <option>Mr</option>
                                  <option>Mrs</option>
                                  <option>Miss</option>
                                </select>
                              </div>
                              <div>
                                <label><span>First Name</span></label>
                                <input type="text" formControlName="FirstName" required [value]="travelers[currentIndex]?.guardianDetails?.FirstName || ''" />
                              </div>
                              <div>
                                <label><span>Last Name</span></label>
                                <input type="text" formControlName="LastName" required [value]="travelers[currentIndex]?.guardianDetails?.LastName || ''" />
                              </div>
                              <div>
                                <label><span>PAN</span></label>
                                <input type="text" formControlName="PAN" required [value]="travelers[currentIndex]?.guardianDetails?.PAN || ''" />
                              </div>
                              <div>
                                <label><span>Passport No</span></label>
                                <input type="text" formControlName="LastName" required [value]="travelers[currentIndex]?.guardianDetails?.PassportNo || ''" />
                              </div>
                            </fieldset>
    
                            <fieldset class="inputs" formGroupName="ssr">
                                <legend>SSR</legend>
                                
                                <div *ngIf="ssrData?.Baggage">
                                  <label><span>Extra Baggage (kgs)</span></label>
                                  <select formControlName="extraBaggage" [value]="travelers[currentIndex]?.ssr?.extraBaggage?.Weight || ''">
                                    <ng-container *ngFor="let item of ssrData?.Baggage">
                                      <option [ngValue]="item">{{ 'Weight ' + item?.Weight + ' (Rs. ' + item?.Price + ')' }}</option>
                                    </ng-container>
                                  </select>
                                  
                                 
                                </div>

                                <div *ngIf="travelers[currentIndex]?.passenger_details">
                                  <label><span>Meal</span></label>
                                  <select formControlName="meal" [value]="travelers[currentIndex]?.ssr?.meal?.Description || ''">
                                    <ng-container *ngFor="let item of ssrData?.Meal">
                                      <option [ngValue]="item" >
                                        {{item?.Description}} ({{item?.Code}})
                                      </option>
                                    </ng-container>
                                  </select>
                                  <!-- You can display the selected meal code if needed -->
                                </div>
                                
                                <div *ngIf="ssrData?.MealDynamic">
                                  <label><span>Meal</span></label>
                                  <select formControlName="meal" [value]="travelers[currentIndex]?.ssr?.meal?.AirlineDescription || ''">
                                    
                                      <ng-container *ngFor="let item of ssrData?.MealDynamic">
                                          <option [ngValue]="item">{{item?.AirlineDescription }} ({{item?.Code}}/ Rs. {{item?.Price}})</option>
                                      </ng-container>
                                  </select>
                                  <!-- You can display the selected meal code if needed -->
                              
                                </div>

                                <div>
                                    <label><span>Seat</span></label>
                                    <div style="display: flex; justify-content: flex-start; flex-direction: row; align-items: center; gap: 5px; height: 40px; ">
                                      <input disabled style="width: 160px; height: 36px;" [value]="travelers[currentIndex]?.ssr?.seat?.rowNo || ''"/>
                                      <i class="fa-solid fa-calculator" (click)="handleSeatMapClick()"></i>

                                    </div>

                                </div>
                               
                            
                                
                            </fieldset>
                            <ng-container *ngIf=" travelers[currentIndex]?.personalInfo?.FirstName==='' ">
                              <div class="btn" >
                                <button type="submit" (click)="addTraveler()"><span>Add Traveler</span></button>
                              </div>
                            </ng-container>
                           
                            <ng-container *ngIf="travelers[currentIndex]?.personalInfo?.FirstName!==''">
                              <div class="btn"   >
                               
                                <button type="submit" (click)="updateTraveller()"><span>Update</span></button>
                              </div>
                            </ng-container>
                            
                          </div>
                       
                    </div>
                  </form>
                  
        </div>
    </main>
</body>