<div class="main-content">
    <div class="content">
        <div class="head">
            <span>All Package Details</span>
        </div>
        <div class="card">
            <div class="first" style="background-color: #03254A;">
                <div class="items">
                    <span>Package 's Name</span>
                </div>
                <div class="items">
                    <span>Primary Contact</span>
                </div>
                <div class="items" style="width: 140px;">
                    <span style="width: 110px;">Contact No</span>
                </div>
                <div class="items"  style="width: 175px;">
                    <span>No Of Pax</span>
                </div>
                <div class="items"  style="width: 175px;">
                    <span>Status</span>
                </div>
                <div class="items" style="width: 200px;">
                    <span>Price</span>
                </div>
                <div class="items">
                    <span>View Details</span>
                </div>
            </div>
           
        </div>

        <div class="card">
            <div class="second">
                <div class="items-second">
                    <span>Dubai-Oman 6N/5D Trip</span>
                </div>
                <div class="items-second">
                    <span>Rahul Verma</span>
                </div>
                <div class="items-second" style="width: 140px;">
                    <span>9877665544</span>
                </div>
                <div class="items-second"  style="width: 175px;">
                    <span>8</span>
                </div>
                <div class="items-second"  style="width: 175px;">
                    <span style="color: rgb(73, 202, 73);">Booked</span>
                </div>
                <div class="items-second" style="width: 200px;">
                    <span >₹80000</span>
                </div>
                <div class="items-second">
                    <button class="btn"><span>See Details</span></button>
                </div>
            </div>
           
        </div>
        <div class="card">
            <div class="second">
                <div class="items-second">
                    <span>Singapore-Oman 6N/5D Trip</span>
                </div>
                <div class="items-second">
                    <span>Rahul Verma</span>
                </div>
                <div class="items-second" style="width: 140px;">
                    <span>9877665544</span>
                </div>
                <div class="items-second"  style="width: 175px;">
                    <span>8</span>
                </div>
                <div class="items-second"  style="width: 175px;">
                    <span style="color: rgb(73, 202, 73);">Booked</span>
                </div>
                <div class="items-second" style="width: 200px;">
                    <span>₹81230000</span>
                </div>
                <div class="items-second">
                    <button class="btn"><span>See Details</span></button>
                </div>
            </div>
           
        </div>
        <div class="card">
            <div class="second">
                <div class="items-second">
                    <span>Dubai-Oman 6N/5D Trip</span>
                </div>
                <div class="items-second">
                    <span>Rahul Verma</span>
                </div>
                <div class="items-second" style="width: 140px;">
                    <span>9877665544</span>
                </div>
                <div class="items-second"  style="width: 175px;">
                    <span>8</span>
                </div>
                <div class="items-second"  style="width: 175px;">
                    <span style="color: rgb(73, 202, 73);">Booked</span>
                </div>
                <div class="items-second" style="width: 200px;">
                    <span>₹80000</span>
                </div>
                <div class="items-second">
                    <button class="btn"><span>See Details</span></button>
                </div>
            </div>
           
        </div>
        
       
       
    </div>
</div>